{% extends 'basic.html' %}

{% block body %}

{% if user.get_username == "admin" %}

<div class="container col-md-6 mt-5">
    <p class="h4 font-weight-bold text-center mb-5">Add Blood Donor</p>
    <form action="/addBlood" method="POST">
    {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Donor Name</label>
                <input type="text" class="form-control" id="" name="donor_name">
            </div>
            <div class="form-group col-md-6">
                <label for="">Gender</label>
                <select id="" class="form-control" name="gender">
                    <option selected>Choose...</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Blood Group</label>
                <select id="" class="form-control" name="blood_group">
                    <option selected>Choose...</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">QTY</label>
                <input type="number" class="form-control" id="" name="qty">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Email</label>
                <input type="email" class="form-control" id="" name="email">
            </div>
            <div class="form-group col-md-6">
                <label for="">Mobile</label>
                <input type="number" class="form-control" id="" name="mobile">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Add Blood</button>
        </div>
</div>
{% else %}
<script>
window.location.replace("/");
</script>
{% endif %}
{% endblock body %}